@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:opsz,wght@14..32,100..900&family=Outfit:wght@400&family=Poppins:wght@400&family=Space+Grotesk:wght@700&display=swap');
@import "tailwindcss";

@font-face {
  font-family: 'Klein Condensed';
  src: url('./assets/klein/Klein-Condensed-ExtraBold-trial.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  cursor: url('./assets/cursor.svg'), auto;
}

a, button {
  cursor: url('./assets/cursor.svg'), pointer;
}

::selection {
  background-color: #FF1493;
  color: black;
}
